<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517884035996-me558ijehkt7r7sjmgt57li9ddvjkq0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517884035996-me558ijehkt7r7sjmgt57li9ddvjkq0e</string>
	<key>API_KEY</key>
	<string>AIzaSyDOLb6g4lQYdRDvWiejqHNqH8GXLN_vyss</string>
	<key>GCM_SENDER_ID</key>
	<string>517884035996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mizuki.BadHouseApp</string>
	<key>PROJECT_ID</key>
	<string>badhouseapp</string>
	<key>STORAGE_BUCKET</key>
	<string>badhouseapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517884035996:ios:12e6ffd8790091b2be3e59</string>
</dict>
</plist>